body {background-image: url("https://i.pinimg.com/originals/8d/83/53/8d8353aa1e34e4fcbebaae5d945d2ef3.jpg");}

p {color: black; font-family: Comic Sans MS;}

h1 {color: grey; font-family: Comic Sans MS;}

.center {text-align: center;}

.left {text-align: left;}

