/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * social-gothic-rough:
 *   - http://typekit.com/eulas/00000000000000007735ad22
 *
 * © 2009-2023 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2021-05-31 09:09:14 UTC"}*/
@import url("https://p.typekit.net/p.css?s=1&k=tdf6vtc&ht=tk&f=35125&a=7031683&app=typekit&e=css");
@font-face {
    font-family: "social-gothic-rough";
    src: url("https://use.typekit.net/af/58068d/00000000000000007735ad22/30/l?primer=3a6076633bc77831ac9fb811601de898b4ca8cd1e0aff02d16b23a013090f4db&fvd=n7&v=3") format("woff2"), url("https://use.typekit.net/af/58068d/00000000000000007735ad22/30/d?primer=3a6076633bc77831ac9fb811601de898b4ca8cd1e0aff02d16b23a013090f4db&fvd=n7&v=3") format("woff"), url("https://use.typekit.net/af/58068d/00000000000000007735ad22/30/a?primer=3a6076633bc77831ac9fb811601de898b4ca8cd1e0aff02d16b23a013090f4db&fvd=n7&v=3") format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 700;
    font-stretch: normal;
}

.tk-social-gothic-rough {
    font-family: "social-gothic-rough", sans-serif;
}
